In [1]:
import pandas as pd

In [2]:
hr_data = pd.read_csv('../../2-Data-Manipulation/Pandas/HR_comma_sep.csv')

In [4]:
hr_data.rename(columns={'sales':'dept'}, inplace=True)

In [5]:
hr_data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,dept,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [6]:
hr_data.left.value_counts()

0    11428
1     3571
Name: left, dtype: int64

In [7]:
target_data = hr_data.left

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
le_salary = LabelEncoder()

In [10]:
le_salary.fit(hr_data.salary)

LabelEncoder()

In [11]:
le_salary.transform(['low','medium','low'])

array([1, 2, 1], dtype=int64)

In [14]:
hr_data['salary_en'] = le_salary.transform(hr_data.salary)
hr_data['salary_en']

0        1
1        2
2        2
3        1
4        1
        ..
14994    1
14995    1
14996    1
14997    1
14998    1
Name: salary_en, Length: 14999, dtype: int32

In [15]:
le = LabelEncoder()

In [16]:
le.fit_transform(hr_data.salary)

array([1, 2, 2, ..., 1, 1, 1])

In [17]:
le_dept = LabelEncoder()

In [18]:
le_dept.fit(hr_data.dept)

LabelEncoder()

In [19]:
le_dept.transform(['sales','support'])

array([7, 8], dtype=int64)

In [20]:
le_dept.classes_

array(['IT', 'RandD', 'accounting', 'hr', 'management', 'marketing',
       'product_mng', 'sales', 'support', 'technical'], dtype=object)

In [21]:
hr_data['dept_en'] = le_dept.transform(hr_data.dept)

In [22]:
hr_data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,dept,salary,salary_en,dept_en
0,0.38,0.53,2,157,3,0,1,0,sales,low,1,7
1,0.80,0.86,5,262,6,0,1,0,sales,medium,2,7
2,0.11,0.88,7,272,4,0,1,0,sales,medium,2,7
3,0.72,0.87,5,223,5,0,1,0,sales,low,1,7
4,0.37,0.52,2,159,3,0,1,0,sales,low,1,7

In [23]:
#getting feature data from the complete information
feature_data = hr_data.drop(columns=['dept','salary','left'])

In [24]:
#splitting feature & target data into train & test
from sklearn.model_selection import train_test_split

In [25]:
trainX, testX, trainY, testY = train_test_split(feature_data, target_data)

In [26]:
trainX[:2]

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,salary_en,dept_en
10696,0.82,0.67,3,229,3,0,0,2,7
2323,0.86,0.70,5,160,3,0,0,2,9