In [1]:
import pandas as pd

In [4]:
names = ["preg","plas","skin","test","mass","pedi","age","class"]
data = pd.read_csv("https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.csv", names=names)

In [5]:
data.head()

   preg  plas  skin  test  mass   pedi  age  class
6   148    72    35     0  33.6  0.627   50      1
1    85    66    29     0  26.6  0.351   31      0
8   183    64     0     0  23.3  0.672   32      1
1    89    66    23    94  28.1  0.167   21      0
0   137    40    35   168  43.1  2.288   33      1

In [6]:
data.dtypes

preg       int64
plas       int64
skin       int64
test       int64
mass     float64
pedi     float64
age        int64
class      int64
dtype: object

In [8]:
data.describe()

,preg,plas,skin,test,mass,pedi,age,class
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [12]:
data.mean().round(2)

preg     120.89
plas      69.11
skin      20.54
test      79.80
mass      31.99
pedi       0.47
age       33.24
class      0.35
dtype: float64

In [13]:
data.var().round(2)

preg      1022.25
plas       374.65
skin       254.47
test     13281.18
mass        62.16
pedi         0.11
age        138.30
class        0.23
dtype: float64

In [14]:
data.skew()

preg     0.173754
plas    -1.843608
skin     0.109372
test     2.272251
mass    -0.428982
pedi     1.919911
age      1.129597
class    0.635017
dtype: float64

In [15]:
data.kurtosis()

preg     0.640780
plas     5.180157
skin    -0.520072
test     7.214260
mass     3.290443
pedi     5.594954
age      0.643159
class   -1.600930
dtype: float64

In [19]:
data["preg"].mean()

120.89453125

In [20]:
from scipy import stats

In [21]:
stats.describe(data['preg'])

DescribeResult(nobs=768, minmax=(0, 199), mean=120.89453125, variance=1022.2483142519557, skewness=0.17341395519987735, kurtosis=0.6288133337300685)

In [22]:
stats.describe(data)

DescribeResult(nobs=768, minmax=(array([ 0.   ,  0.   ,  0.   ,  0.   ,  0.   ,  0.078, 21.   ,  0.   ]), array([199.  , 122.  ,  99.  , 846.  ,  67.1 ,   2.42,  81.  ,   1.  ])), mean=array([120.89453125,  69.10546875,  20.53645833,  79.79947917,
        31.99257812,   0.4718763 ,  33.24088542,   0.34895833]), variance=array([1.02224831e+03, 3.74647271e+02, 2.54473245e+02, 1.32811801e+04,
       6.21599840e+01, 1.09778638e-01, 1.38303046e+02, 2.27482616e-01]), skewness=array([ 0.17341396, -1.84000523,  0.10915876,  2.26781046, -0.42814328,
        1.9161592 ,  1.12738926,  0.6337757 ]), kurtosis=array([ 0.62881333,  5.13869066, -0.52449449,  7.15957492,  3.26125742,
        5.55079205,  0.63117694, -1.59832836]))

In [23]:
stats.iqr(data)

67.62675

In [24]:
stats.iqr(data['preg'])

41.25