In [1]:
import pandas as pd

In [2]:
winamag = pd.read_csv('https://raw.githubusercontent.com/edyoda/Data-Scientist-program/master/Practice%20Problems/data/winemag.csv', encoding = "ISO-8859-1")

In [3]:
winamag

,Unnamed: 0,country,description,designation,points,Unnamed: 5,province,region_1,region_2,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,0.0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkï¿½ï¿½ Bi,87.0,NaN,Sicily & Sardinia,Etna,NaN,NaN,NaN,NaN
1,1.0,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87.0,NaN,Douro,NaN,NaN,NaN,NaN,NaN
2,2.0,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87.0,NaN,Oregon,Willamette Valley,Willamette Valley,NaN,NaN,NaN
3,3.0,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87.0,NaN,Michigan,Lake Michigan Shore,NaN,NaN,NaN,NaN
4,4.0,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87.0,NaN,Oregon,Willamette Valley,Willamette Valley,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
129863,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129864,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129865,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129866,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129867,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 1. Create a dataframe fruit_sales that matches the diagram below

In [4]:
winamag.columns

Index(['Unnamed: 0', 'country', 'description', 'designation', 'points',
       'Unnamed: 5', 'province', 'region_1', 'region_2', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11'],
      dtype='object')

In [19]:
fruit_sales = winamag[['country','description','province']]

In [21]:
fruit_sales.set_index('province', inplace=True)

In [24]:
fruit_sales.loc['Oregon']

         country                                        description
province
Oregon        US  Tart and snappy, the flavors of lime flesh and...
Oregon        US  Much like the regular bottling from 2012, this...
Oregon        US  A sleek mix of tart berry, stem and herb, alon...
Oregon        US  As with many of the Erath 2010 vineyard design...
Oregon        US  A stiff, tannic wine, this slowly opens and br...
...          ...                                                ...
Oregon        US  Despite the famed vineyard on the label, this ...
Oregon        US  Planted in 1988, this vineyard 's fruit captur...
Oregon        US  Despite the low alcohol reading, this comes ac...
Oregon        US  At David Hill, the Winemakers Cuvï¿½ï¿½e is a ...
Oregon        US  A subtle wine, with delicate, lightly buttery ...

[3332 rows x 2 columns]

In [26]:
fruit_sales.reset_index(inplace=True)

In [27]:
fruit_sales

,province,country,description
0,Sicily & Sardinia,Italy,"Aromas include tropical fruit, broom, brimston..."
1,Douro,Portugal,"This is ripe and fruity, a wine that is smooth..."
2,Oregon,US,"Tart and snappy, the flavors of lime flesh and..."
3,Michigan,US,"Pineapple rind, lemon pith and orange blossom ..."
4,Oregon,US,"Much like the regular bottling from 2012, this..."
...,...,...,...
129863,NaN,NaN,NaN
129864,NaN,NaN,NaN
129865,NaN,NaN,NaN
129866,NaN,NaN,NaN
129867,NaN,NaN,NaN