In [1]:
import pandas as pd

### String Data processing

In [2]:
horror_data = pd.read_csv('https://raw.githubusercontent.com/edyoda/data-science-complete-tutorial/master/Data/horror-train.csv')

In [3]:
horror_data.head()

        id                                               text author
0  id26305  This process, however, afforded me no means of...    EAP
1  id17569  It never once occurred to me that the fumbling...    HPL
2  id11008  In his left hand was a gold snuff box, from wh...    EAP
3  id27763  How lovely is spring As we looked from Windsor...    MWS
4  id12958  Finding nothing else, not even gold, the Super...    HPL

In [4]:
horror_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19579 entries, 0 to 19578
Data columns (total 3 columns):
id        19579 non-null object
text      19579 non-null object
author    19579 non-null object
dtypes: object(3)
memory usage: 459.0+ KB

* How many authors are there ?

In [5]:
horror_data.author.unique()

array(['EAP', 'HPL', 'MWS'], dtype=object)

* What is the author distribution ?

In [6]:
horror_data.author.value_counts()

EAP    7900
MWS    6044
HPL    5635
Name: author, dtype: int64

* Find all the texts for EAP

In [7]:
horror_data[horror_data.author == 'EAP']['text'][:5]

0    This process, however, afforded me no means of...
2    In his left hand was a gold snuff box, from wh...
6    The astronomer, perhaps, at this point, took r...
7          The surcingle hung in ribands from my body.
8    I knew that you could not say to yourself 'ste...
Name: text, dtype: object

* Find out the row with longest text

In [8]:
horror_data['text_len'] = horror_data.text.str.len()

In [9]:
horror_data.head()

        id                                               text author  text_len
0  id26305  This process, however, afforded me no means of...    EAP       231
1  id17569  It never once occurred to me that the fumbling...    HPL        71
2  id11008  In his left hand was a gold snuff box, from wh...    EAP       200
3  id27763  How lovely is spring As we looked from Windsor...    MWS       206
4  id12958  Finding nothing else, not even gold, the Super...    HPL       174

In [10]:
c = horror_data.text

In [12]:
c.str

In [13]:
horror_data.text_len.max()

4663

In [14]:
horror_data[horror_data.text_len == 4663]

,id,text,author,text_len
9215,id27184,Diotima approached the fountain seated herself...,MWS,4663

In [15]:
max(horror_data.text_len)

4663

* Filter the rows having the word 'hand' in it

In [16]:
horror_data[horror_data.text.str.contains('hand')].head()

,id,text,author,text_len
2,id11008,"In his left hand was a gold snuff box, from wh...",EAP,200
22,id18925,"On every hand was a wilderness of balconies, o...",EAP,115
23,id19925,With how deep a spirit of wonder and perplexit...,EAP,460
90,id03833,The ex queen gives me Idris; Adrian is totally...,MWS,130
147,id05876,I look on the hands which executed the deed; I...,MWS,224

* Find the rows with maximum number of words

In [20]:
horror_data['list_words'] = horror_data.text.str.split()
horror_data

,id,text,author,text_len,list_words
0,id26305,"This process, however, afforded me no means of...",EAP,231,"[This, process,, however,, afforded, me, no, m..."
1,id17569,It never once occurred to me that the fumbling...,HPL,71,"[It, never, once, occurred, to, me, that, the,..."
2,id11008,"In his left hand was a gold snuff box, from wh...",EAP,200,"[In, his, left, hand, was, a, gold, snuff, box..."
3,id27763,How lovely is spring As we looked from Windsor...,MWS,206,"[How, lovely, is, spring, As, we, looked, from..."
4,id12958,"Finding nothing else, not even gold, the Super...",HPL,174,"[Finding, nothing, else,, not, even, gold,, th..."
...,...,...,...,...,...
19574,id17718,"I could have fancied, while I looked at it, th...",EAP,108,"[I, could, have, fancied,, while, I, looked, a..."
19575,id08973,The lids clenched themselves together as if in...,EAP,55,"[The, lids, clenched, themselves, together, as..."
19576,id05267,"Mais il faut agir that is to say, a Frenchman ...",EAP,68,"[Mais, il, faut, agir, that, is, to, say,, a, ..."
19577,id17513,"For an item of news like this, it strikes us i...",EAP,74,"[For, an, item, of, news, like, this,, it, str..."
19578,id00393,"He laid a gnarled claw on my shoulder, and it ...",HPL,109,"[He, laid, a, gnarled, claw, on, my, shoulder,..."

In [21]:
horror_data['num_words'] = horror_data.list_words.map(lambda r:len(r))
horror_data

,id,text,author,text_len,list_words,num_words
0,id26305,"This process, however, afforded me no means of...",EAP,231,"[This, process,, however,, afforded, me, no, m...",41
1,id17569,It never once occurred to me that the fumbling...,HPL,71,"[It, never, once, occurred, to, me, that, the,...",14
2,id11008,"In his left hand was a gold snuff box, from wh...",EAP,200,"[In, his, left, hand, was, a, gold, snuff, box...",36
3,id27763,How lovely is spring As we looked from Windsor...,MWS,206,"[How, lovely, is, spring, As, we, looked, from...",34
4,id12958,"Finding nothing else, not even gold, the Super...",HPL,174,"[Finding, nothing, else,, not, even, gold,, th...",27
...,...,...,...,...,...,...
19574,id17718,"I could have fancied, while I looked at it, th...",EAP,108,"[I, could, have, fancied,, while, I, looked, a...",20
19575,id08973,The lids clenched themselves together as if in...,EAP,55,"[The, lids, clenched, themselves, together, as...",10
19576,id05267,"Mais il faut agir that is to say, a Frenchman ...",EAP,68,"[Mais, il, faut, agir, that, is, to, say,, a, ...",13
19577,id17513,"For an item of news like this, it strikes us i...",EAP,74,"[For, an, item, of, news, like, this,, it, str...",15
19578,id00393,"He laid a gnarled claw on my shoulder, and it ...",HPL,109,"[He, laid, a, gnarled, claw, on, my, shoulder,...",22

In [22]:
horror_data.num_words.max()

861

In [23]:
horror_data[horror_data.num_words == 861]

,id,text,author,text_len,list_words,num_words
9215,id27184,Diotima approached the fountain seated herself...,MWS,4663,"[Diotima, approached, the, fountain, seated, h...",861

#### Find the rows with maximum number of uppercase words (first char is uppercase)
- Break down text into words (already done, list_words)
- Find words with first character uppercase
- Do the count